/* Website background color is lightblue */
body {
    background-color: lightblue;
}
/* list color is inline */
li {
    display: inline;
}
/* List a tags are white*/
a {
    color: white;
}
/* All section headers are black and centered */
h2 {
    color: black;
    text-align: center;
} 
/* Header has padding of 20 pixels background of dark cyan
   font family Georgia, 'Times New Roman', Times, serif
   text color white. Flex wrap allow for it to drop a row after screen size changes
   space beetween allows for space between the text */
.header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
/* header h1 is inline-block and also has a font size of 30 pixels */
.header h1 {
    display: inline-block;
    font-size: 30px;
}
/* side bar has a width of 5 pixels background color of dark cyan and also height is auto
   margin to the left 5 pixels and tom the right 40 pixels  */
.bar {
    width: 5px;
    background-color: darkcyan;
    height: auto;
    margin-left: 5px;
    margin-right: 40px;
}

.section {
    color: #ffffff;
    justify-content: start;
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}
/* section header with verticle height of 20 */
.section-header {
    width:20vh;
}
/* nav bar with a padding of 20 pixels 
    floats to the right and font size of 25 pixels
    font family of Georgia, 'Times New Roman', Times, serif
    text color white and a width of 60%  */
.nav 
{
    padding: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    width: 60%;
}
/* paragraph width of 80% and also text color of black */
.paragraph {
    width: 80%;
    color: black
}

.projects {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
}
/* Projects have 100% width and verticle height of 25, opacity of 50%
background size cover, margin to the right 20 pixels, border style groove,
border color white and border width is thick */
.project {
    width: 100%;
    height: 25vh;
    opacity: 50%;
    background-size: cover;
    margin-right: 40px;
    position: relative;
    border-style: groove;
    border-color: white;
    border-width: thick;
}

.project:hover {
    opacity: 100%;
}
/* Allows for background images through url also image height is 50*/
#code-refractor {
    background-image: url("pexels-alex-conchillos-3745234.jpg");
    height: 50vh;
}

.project-title {
    font-size: auto;
    position: absolute;
    color: black;
    bottom: 35px;
    height: auto;
    width: auto;
    background-color: darkcyan;
    padding: 10px;

}
/* Allows for background images through url */
#project2 {
    background-image: url("pexels-carlos-oliva-3586966.jpg");
}
/* Allows for background images through url */
#project3 {
    background-image: url("pexels-gdtography-911738.jpg");
}
/* Allows for background images through url */
#project4 {
    background-image: url("pexels-markus-spiske-1089438.jpg");
}
/* Allows for background images through url */
#project5 {
    background-image: url("pexels-roberto-nickson-2559941.jpg");
}

.contact {
    display: inline-block;
    display: inline; 
    zoom: 1; 
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;  
}
.contacts  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width : 80%
}
/* media query for any with a max size of 1024 pixels */
@media screen and (max-width: 1024px ) {
    .paragraph { font-size: large;}
    .project { height: 12.5vh;}
    #code-refractor { height: 25vh;}
    .contact {
        font-size: 15px;
        margin-top: 15px;
        
    }    
}
/* media query for anything with a max size of 480pixels*/
 @media screen and (max-width:480px) {
    .paragraph { font-size: large;}
    .project { height: 6.25vh;}
    #code-refractor { height: 12.5vh;}
    .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .contact {
        font-size: large;
        width: 100%;
    }    
    .project-title {
        font-size: auto;
        position: absolute;
        color: black;
        bottom: 10px;
        height: auto;
        width: auto;
        background-color: darkcyan;
        padding: 5px;
    }
    .nav ul li {
       margin-left: 50px;
    }
    .header h1 {
        text-align: center;
        width: 100%;
    }
    .section-header {
        writing-mode: vertical-rl;
        text-orientation: upright;
        width: 8%;
    }
    
}     